name: macos-sonoma-mydata

on:
  workflow_dispatch:

jobs:
  macos-job:
    # Sequoia kasmaması için Sonoma (macOS 14) ile devam ediyoruz
    runs-on: macos-14
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: MyData Klasorunu Hazirla
        run: |
          mkdir -p ~/Desktop/mydata
          echo "Sonoma Operasyonu Basladi!" > ~/Desktop/mydata/not.txt

      - name: Setup Tailscale (Path Fix)
        run: |
          # Brew ile kurulum
          brew install tailscale
          
          # Artik yolu sistemden otomatik buluyoruz
          TS_PATH=$(which tailscale)
          sudo $TS_PATH up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=macos-sonoma --accept-routes --unattended
          $TS_PATH ip -4

      - name: VNC ve Masaustu Hazirligi
        run: |
          # VNC aktif etme ve sifre
          sudo /System/Library/CoreServices/RemoteManagement/ARDAgent.app/Contents/Resources/kickstart -activate -configure -access -on -clientopts -setvncpw -vncpw Ed0kaleen!2024 -restart -agent -privs -all
          
          brew install novnc websockify
          
          # Sonoma'da (ARM/M1) paylasim klasoru yolu
          WEBSOCK_PATH=$(which websockify)
          nohup $WEBSOCK_PATH --web /opt/homebrew/share/novnc 6080 localhost:5900 > /dev/null 2>&1 &

      - name: Stay Online (71 Hours)
        run: |
          start_time=$(date +%s)
          while [ $(($(date +%s) - start_time)) -lt 255600 ]; do
            echo "Sonoma Nobetinde... $(date)"
            sleep 300
          done
          
